In this notebook, we’ll use `featuretools` to automatically generate new features across all datasets, making feature engineering both faster and more powerful. `Featuretools` is an open-source Python library designed specifically to create valuable features from raw data for machine learning, streamlining the entire process so we can skip manual feature creation. By using mathematical transformations (like summing or averaging) and connecting related datasets, `featuretools` helps us build rich, informative features effortlessly—even in complex, multi-table datasets like ours.

One of the standout features of `featuretools` is its Deep Feature Synthesis (DFS) technique, which stacks multiple transformations to create highly informative "deep" features. For instance, it can automatically create a feature like "average transaction amount per month" by combining simpler data points. This makes our dataset not only more insightful but also better prepared for accurate model training. By letting `featuretools` handle the heavy lifting, we can focus on making our model more effective and our workflow more efficient!

In [2]:
import pandas as pd
import numpy as np

# Suppress warnings from pandas
import warnings
warnings.filterwarnings('ignore')

# import the functions from the file
from notebook_setup import RootPath, config
from my_functions import pie_plot

# Automatically Reload Changes if there are frequent changes to my xx.py file
%load_ext autoreload
%autoreload 2

In [3]:
import pandas as pd
import numpy as np

# featuretools for automated feature engineering
import featuretools as ft

# Suppress warnings from pandas
import warnings
warnings.filterwarnings('ignore')

# Automatically Reload Changes if there are frequent changes to my xx.py file
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [4]:
from featuretools.selection import (
    remove_highly_correlated_features,
    remove_highly_null_features,
    remove_single_value_features,
)

# import the functions from the file
from my_functions import (
    convert_to_categorical, 
    encode_and_one_hot, 
    summarize_dataframe,
    get_top_correlations, 
    missing_values_table, 
    preprocess_and_reduce_features,
    merge_data_on_index
)

In [5]:
# Load all sampling data and drop "Unnamed" which is the index column
app_df = pd.read_csv(f'{config.CleanDataPath}app_df.csv')
app_df = app_df.loc[:, ~app_df.columns.str.contains('^Unnamed')]

bureau_df = pd.read_csv(f'{config.CleanDataPath}bureau_df.csv')
bureau_df = bureau_df.loc[:, ~bureau_df.columns.str.contains('^Unnamed')]

bureau_balance_df = pd.read_csv(f'{config.CleanDataPath}bureau_balance_df.csv')
bureau_balance_df = bureau_balance_df.loc[:, ~bureau_balance_df.columns.str.contains('^Unnamed')]

previous_df = pd.read_csv(f'{config.CleanDataPath}previous_df.csv')
previous_df = previous_df.loc[:, ~previous_df.columns.str.contains('^Unnamed')]

cash_df = pd.read_csv(f'{config.CleanDataPath}cash_df.csv')
cash_df = cash_df.loc[:, ~cash_df.columns.str.contains('^Unnamed')]

instalments_df = pd.read_csv(f'{config.CleanDataPath}instalments_df.csv')
instalments_df = instalments_df.loc[:, ~instalments_df.columns.str.contains('^Unnamed')]

credit_df = pd.read_csv(f'{config.CleanDataPath}credit_df.csv')
credit_df = credit_df.loc[:, ~credit_df.columns.str.contains('^Unnamed')]
credit_df.head(5)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2740914,340339,-1,1.310354,0.500,10800.0,10800.00,0.0,0.00,0.888960,...,1.276882,1.276635,2.0,2.0,0.0,0.0,6.0,Active,0.0,0.0
1,1864742,303581,-1,0.000000,-0.500,0.0,0.00,0.0,0.00,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,59.0,Active,0.0,0.0
2,1189095,231608,-4,4.505954,1.750,9000.0,9000.00,0.0,0.00,3.395033,...,4.507100,4.506230,1.0,1.0,0.0,0.0,22.0,Active,0.0,0.0
3,1683604,217113,-1,0.683794,-0.375,0.0,4412.25,0.0,4412.25,0.491147,...,0.686007,0.685874,0.0,4.0,0.0,4.0,6.0,Active,0.0,0.0
4,2252971,193247,-4,0.233098,2.250,0.0,0.00,0.0,0.00,0.333333,...,0.233095,0.233050,0.0,0.0,0.0,0.0,6.0,Active,0.0,0.0

### Automated Feature Engineering with Featuretools
To keep things straightforward, let’s go with the default options for automated feature engineering. These settings are designed to quickly generate useful features based on data types and relationships, helping to boost model performance without the need for complex, hands-on engineering. We’ll set the feature depth to a maximum of 2 levels, which is usually a great balance between capturing valuable information and keeping things efficient.

Once the process is complete, we’ll fine-tune the feature set by removing any that meet the following criteria:

1. Features with a high percentage of missing values (threshold: 90%)
2. Single-value features (as long as they don’t contain NaN values)
3. Highly correlated features (threshold: 90%)

This streamlined approach will let us retain the most impactful features, enhancing our model’s effectiveness and simplicity.

In [7]:
# Create the EntitySet with sampled data
es = ft.EntitySet(id="customer_data")
es = es.add_dataframe(dataframe_name='app', dataframe=app_df, index='SK_ID_CURR')
es = es.add_dataframe(dataframe_name='bureau', dataframe=bureau_df, index='SK_ID_BUREAU')
es = es.add_dataframe(dataframe_name='previous', dataframe=previous_df, index='SK_ID_PREV')
es = es.add_dataframe(dataframe_name='bureau_balance', dataframe=bureau_balance_df, make_index=True, index='bureaubalance_index')
es = es.add_dataframe(dataframe_name='cash', dataframe=cash_df, make_index=True, index='cash_index')
es = es.add_dataframe(dataframe_name='instalments', dataframe=instalments_df, make_index=True, index='instalments_index')
es = es.add_dataframe(dataframe_name='credit', dataframe=credit_df, make_index=True, index='credit_index')

# Define relationships in the EntitySet
es = es.add_relationship('app', 'SK_ID_CURR', 'bureau', 'SK_ID_CURR')
es = es.add_relationship('app', 'SK_ID_CURR', 'previous', 'SK_ID_CURR')
es = es.add_relationship('bureau', 'SK_ID_BUREAU', 'bureau_balance', 'SK_ID_BUREAU')
es = es.add_relationship('previous', 'SK_ID_PREV', 'cash', 'SK_ID_PREV')
es = es.add_relationship('previous', 'SK_ID_PREV', 'instalments', 'SK_ID_PREV')
es = es.add_relationship('previous', 'SK_ID_PREV', 'credit', 'SK_ID_PREV')

In [8]:
# Deep Feature Synthesis (DFS) with default primitives
fm, features = ft.dfs(entityset = es, target_dataframe_name= 'app',
                      max_depth = 2, features_only=False, verbose = True)

print(fm.shape)
fm.head(10)

Built 2088 features
Elapsed: 36:48 | Progress: 100%|██████████
(30751, 2088)

,TARGET,COUNT(bureau),MAX(bureau.AMT_ANNUITY),MAX(bureau.AMT_CREDIT_MAX_OVERDUE),MAX(bureau.AMT_CREDIT_SUM),MAX(bureau.AMT_CREDIT_SUM_DEBT),MAX(bureau.AMT_CREDIT_SUM_LIMIT),MAX(bureau.AMT_CREDIT_SUM_OVERDUE),MAX(bureau.CNT_CREDIT_PROLONG),MAX(bureau.CREDIT_DAY_OVERDUE),...,SUM(credit.previous.DAYS_LAST_DUE),SUM(credit.previous.DAYS_LAST_DUE_1ST_VERSION),SUM(credit.previous.DAYS_TERMINATION),SUM(credit.previous.HOUR_APPR_PROCESS_START),SUM(credit.previous.NFLAG_INSURED_ON_APPROVAL),SUM(credit.previous.NFLAG_LAST_APPL_IN_DAY),SUM(credit.previous.RATE_DOWN_PAYMENT),SUM(credit.previous.RATE_INTEREST_PRIMARY),SUM(credit.previous.RATE_INTEREST_PRIVILEGED),SUM(credit.previous.SELLERPLACE_AREA)
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
307474,0,5,NaN,0.000,3.116422,0.000000,0.000,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
412537,0,4,0.033333,0.000,0.317765,0.639861,176852.565,0.0,2.0,0.0,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
149084,0,1,NaN,NaN,0.588603,0.000000,0.000,0.0,0.0,0.0,...,11495.037873,10354.627451,11634.342577,702.0,0.0,0.0,0.0,0.0,0.0,-1.835294
364692,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
155423,0,5,0.000000,NaN,1.072048,2.653891,0.000,0.0,0.0,0.0,...,15.592264,22833.281046,25655.216966,1118.0,0.0,0.0,0.0,0.0,0.0,2401.929412
165164,0,12,18.730333,0.000,2.755305,12.389950,3068.775,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
427814,0,6,NaN,0.000,2.321964,17.055449,0.000,0.0,1.0,0.0,...,2.014504,2655.032680,2983.164763,110.0,0.0,0.0,0.0,0.0,0.0,93.764706
248940,0,5,NaN,25803.945,9.435970,33.960908,0.000,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
218738,0,12,NaN,11493.765,1.762233,5.257485,0.000,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
285243,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000

In [9]:
features[-20:]

[<Feature: STD(credit.previous.SELLERPLACE_AREA)>,
 <Feature: SUM(credit.previous.AMT_ANNUITY)>,
 <Feature: SUM(credit.previous.AMT_APPLICATION)>,
 <Feature: SUM(credit.previous.AMT_CREDIT)>,
 <Feature: SUM(credit.previous.AMT_DOWN_PAYMENT)>,
 <Feature: SUM(credit.previous.AMT_GOODS_PRICE)>,
 <Feature: SUM(credit.previous.CNT_PAYMENT)>,
 <Feature: SUM(credit.previous.DAYS_DECISION)>,
 <Feature: SUM(credit.previous.DAYS_FIRST_DRAWING)>,
 <Feature: SUM(credit.previous.DAYS_FIRST_DUE)>,
 <Feature: SUM(credit.previous.DAYS_LAST_DUE)>,
 <Feature: SUM(credit.previous.DAYS_LAST_DUE_1ST_VERSION)>,
 <Feature: SUM(credit.previous.DAYS_TERMINATION)>,
 <Feature: SUM(credit.previous.HOUR_APPR_PROCESS_START)>,
 <Feature: SUM(credit.previous.NFLAG_INSURED_ON_APPROVAL)>,
 <Feature: SUM(credit.previous.NFLAG_LAST_APPL_IN_DAY)>,
 <Feature: SUM(credit.previous.RATE_DOWN_PAYMENT)>,
 <Feature: SUM(credit.previous.RATE_INTEREST_PRIMARY)>,
 <Feature: SUM(credit.previous.RATE_INTEREST_PRIVILEGED)>,
 <Feature: SUM(credit.previous.SELLERPLACE_AREA)>]

#### Remove Highly Null Features

In [11]:
fm2 =  remove_highly_null_features(fm, pct_null_threshold=0.90)
print(fm2.shape)
#fm2.head(5)

(30751, 1867)

#### Remove Single Value Features

In [13]:
fm3, features3 = remove_single_value_features(
    fm2, features=features, count_nan_as_value=True
)
print(fm3.shape)
#fm3.head()

(30751, 1851)

#### Remove Highly Correlated Features

In [15]:
fm4, features4 = remove_highly_correlated_features(
    fm3, features=features3, pct_corr_threshold=0.9)

In [16]:
pd.options.display.max_columns = 2000
print(fm4.shape)
fm4.head()

(30751, 774)

,TARGET,COUNT(bureau),MAX(bureau.AMT_ANNUITY),MAX(bureau.AMT_CREDIT_MAX_OVERDUE),MAX(bureau.AMT_CREDIT_SUM),MAX(bureau.AMT_CREDIT_SUM_DEBT),MAX(bureau.AMT_CREDIT_SUM_LIMIT),MAX(bureau.AMT_CREDIT_SUM_OVERDUE),MAX(bureau.CNT_CREDIT_PROLONG),MAX(bureau.CREDIT_DAY_OVERDUE),MAX(bureau.DAYS_CREDIT),MAX(bureau.DAYS_CREDIT_ENDDATE),MAX(bureau.DAYS_CREDIT_UPDATE),MAX(bureau.DAYS_ENDDATE_FACT),MEAN(bureau.AMT_CREDIT_MAX_OVERDUE),MEAN(bureau.AMT_CREDIT_SUM),MEAN(bureau.AMT_CREDIT_SUM_DEBT),MEAN(bureau.AMT_CREDIT_SUM_LIMIT),MEAN(bureau.CNT_CREDIT_PROLONG),MEAN(bureau.CREDIT_DAY_OVERDUE),MEAN(bureau.DAYS_CREDIT),MEAN(bureau.DAYS_CREDIT_ENDDATE),MEAN(bureau.DAYS_CREDIT_UPDATE),MEAN(bureau.DAYS_ENDDATE_FACT),MIN(bureau.AMT_ANNUITY),MIN(bureau.AMT_CREDIT_MAX_OVERDUE),MIN(bureau.AMT_CREDIT_SUM),MIN(bureau.AMT_CREDIT_SUM_DEBT),MIN(bureau.AMT_CREDIT_SUM_LIMIT),MIN(bureau.AMT_CREDIT_SUM_OVERDUE),MIN(bureau.CNT_CREDIT_PROLONG),MIN(bureau.CREDIT_DAY_OVERDUE),MIN(bureau.DAYS_CREDIT),MIN(bureau.DAYS_CREDIT_ENDDATE),MIN(bureau.DAYS_CREDIT_UPDATE),MIN(bureau.DAYS_ENDDATE_FACT),MODE(bureau.CREDIT_ACTIVE),MODE(bureau.CREDIT_CURRENCY),MODE(bureau.CREDIT_TYPE),NUM_UNIQUE(bureau.CREDIT_ACTIVE),NUM_UNIQUE(bureau.CREDIT_CURRENCY),NUM_UNIQUE(bureau.CREDIT_TYPE),SKEW(bureau.AMT_ANNUITY),SKEW(bureau.AMT_CREDIT_MAX_OVERDUE),SKEW(bureau.AMT_CREDIT_SUM),SKEW(bureau.AMT_CREDIT_SUM_DEBT),SKEW(bureau.AMT_CREDIT_SUM_LIMIT),SKEW(bureau.AMT_CREDIT_SUM_OVERDUE),SKEW(bureau.CNT_CREDIT_PROLONG),SKEW(bureau.DAYS_CREDIT),SKEW(bureau.DAYS_CREDIT_ENDDATE),SKEW(bureau.DAYS_CREDIT_UPDATE),SKEW(bureau.DAYS_ENDDATE_FACT),STD(bureau.DAYS_CREDIT),STD(bureau.DAYS_ENDDATE_FACT),SUM(bureau.AMT_CREDIT_SUM),SUM(bureau.DAYS_CREDIT_ENDDATE),SUM(bureau.DAYS_CREDIT_UPDATE),COUNT(bureau_balance),MAX(bureau_balance.MONTHS_BALANCE),MEAN(bureau_balance.MONTHS_BALANCE),MODE(bureau_balance.STATUS),NUM_UNIQUE(bureau_balance.STATUS),SKEW(bureau_balance.MONTHS_BALANCE),COUNT(previous),MAX(previous.AMT_ANNUITY),MAX(previous.AMT_APPLICATION),MAX(previous.AMT_DOWN_PAYMENT),MAX(previous.CNT_PAYMENT),MAX(previous.DAYS_DECISION),MAX(previous.DAYS_FIRST_DRAWING),MAX(previous.DAYS_FIRST_DUE),MAX(previous.DAYS_LAST_DUE),MAX(previous.DAYS_LAST_DUE_1ST_VERSION),MAX(previous.HOUR_APPR_PROCESS_START),MAX(previous.NFLAG_INSURED_ON_APPROVAL),MAX(previous.NFLAG_LAST_APPL_IN_DAY),MAX(previous.RATE_DOWN_PAYMENT),MAX(previous.SELLERPLACE_AREA),MEAN(previous.AMT_ANNUITY),MEAN(previous.AMT_APPLICATION),MEAN(previous.AMT_DOWN_PAYMENT),MEAN(previous.CNT_PAYMENT),MEAN(previous.DAYS_DECISION),MEAN(previous.DAYS_FIRST_DRAWING),MEAN(previous.DAYS_FIRST_DUE),MEAN(previous.DAYS_LAST_DUE),MEAN(previous.DAYS_LAST_DUE_1ST_VERSION),MEAN(previous.HOUR_APPR_PROCESS_START),MEAN(previous.NFLAG_INSURED_ON_APPROVAL),MEAN(previous.NFLAG_LAST_APPL_IN_DAY),MEAN(previous.RATE_DOWN_PAYMENT),MEAN(previous.SELLERPLACE_AREA),MIN(previous.AMT_ANNUITY),MIN(previous.AMT_APPLICATION),MIN(previous.AMT_DOWN_PAYMENT),MIN(previous.AMT_GOODS_PRICE),MIN(previous.CNT_PAYMENT),MIN(previous.DAYS_DECISION),MIN(previous.DAYS_FIRST_DRAWING),MIN(previous.DAYS_FIRST_DUE),MIN(previous.DAYS_LAST_DUE),MIN(previous.HOUR_APPR_PROCESS_START),MIN(previous.NFLAG_INSURED_ON_APPROVAL),MIN(previous.NFLAG_LAST_APPL_IN_DAY),MIN(previous.RATE_DOWN_PAYMENT),MIN(previous.SELLERPLACE_AREA),MODE(previous.CHANNEL_TYPE),MODE(previous.CODE_REJECT_REASON),MODE(previous.NAME_CASH_LOAN_PURPOSE),MODE(previous.NAME_CLIENT_TYPE),MODE(previous.NAME_CONTRACT_STATUS),MODE(previous.NAME_CONTRACT_TYPE),MODE(previous.NAME_GOODS_CATEGORY),MODE(previous.NAME_PAYMENT_TYPE),MODE(previous.NAME_PORTFOLIO),MODE(previous.NAME_PRODUCT_TYPE),MODE(previous.NAME_SELLER_INDUSTRY),MODE(previous.NAME_TYPE_SUITE),MODE(previous.NAME_YIELD_GROUP),MODE(previous.PRODUCT_COMBINATION),MODE(previous.WEEKDAY_APPR_PROCESS_START),NUM_UNIQUE(previous.CHANNEL_TYPE),NUM_UNIQUE(previous.CODE_REJECT_REASON),NUM_UNIQUE(previous.NAME_CASH_LOAN_PURPOSE),NUM_UNIQUE(previous.NAME_CLIENT_TYPE),NUM_UNIQUE(previous.NAME_CONTRACT_STATUS),NUM_UNIQUE(previous.NAME_CONTRACT_TYPE),NUM_UNIQUE(previous.NAME_GOODS_CATEGORY),NUM_UNIQUE(previous.NAME_PAYMENT_TYPE),NUM_UNIQUE(previous.NAME_PRODUCT_TYPE),NUM_UNIQUE(previous.NAME_SELLER_INDUSTRY),NUM_UNIQUE(previous.NAME_TYPE_SUITE),NUM_UNIQUE(previous.NAME_YIELD_GROUP),NUM_UNIQUE(previous.PRODUCT_COMBINATION),NUM_UNIQUE(previous.WEEKDAY_APPR_PROCESS_START),PERCENT_TRUE(previous.FLAG_LAST_APPL_PER_CONTRACT),SKEW(previous.AMT_ANNUITY),SKEW(previous.AMT_APPLICATION),SKEW(previous.AMT_CREDIT),SKEW(previous.AMT_DOWN_PAYMENT),SKEW(previous.AMT_GOODS_PRICE),SKEW(previous.CNT_PAYMENT),SKEW(previous.DAYS_DECISION),SKEW(previous.DAYS_FIRST_DUE),SKEW(previous.DAYS_LAST_DUE),SKEW(previous.DAYS_LAST_DUE_1ST_VERSION),SKEW(previous.DAYS_TERMINATION),SKEW(previous.HOUR_APPR_PROCESS_START),SKEW(previous.NFLAG_INSURED_ON_APPROVAL),SKEW(previous.RATE_DOWN_PAYMENT),SKEW(previous.SELLERPLACE_AREA),STD(previous.CNT_PAYMENT),STD(previous.DAYS_DECISION),STD(previous.HOUR_APPR_PROCESS_START),STD(previous.NFLAG_INSURED_ON_APPROVAL),STD(previous.RATE_DOWN_PAYMENT),SUM(previous.AMT_ANNUITY),SUM(previous.AMT_APPLICATION),SUM(previous.CNT_PAYMENT),SUM(previous.DAYS_DECISION),SUM(previous.DAYS_LAST_DUE),SUM(previous.NFLAG_INSURED_ON_APPROVAL),SUM(previous.NFLAG_LAST_APPL_IN_DAY),SUM(previous.RATE_DOWN_PAYMENT),SUM(previous.RATE_INTEREST_PRIMARY),SUM(previous.RATE_INTEREST_PRIVILEGED),SUM(previous.SELLERPLACE_AREA),COUNT(cash),MAX(cash.CNT_INSTALMENT),MAX(cash.MONTHS_BALANCE),MAX(cash.SK_DPD),MAX(cash.SK_DPD_DEF),MAX(cash.SK_ID_CURR),MEAN(cash.CNT_INSTALMENT),MEAN(cash.MONTHS_BALANCE),MEAN(cash.SK_DPD),MEAN(cash.SK_DPD_DEF),MIN(cash.CNT_INSTALMENT),MIN(cash.CNT_INSTALMENT_FUTURE),MIN(cash.SK_DPD),MIN(cash.SK_DPD_DEF),MODE(cash.NAME_CONTRACT_STATUS),NUM_UNIQUE(cash.NAME_CONTRACT_STATUS),SKEW(cash.CNT_INSTALMENT),SKEW(cash.CNT_INSTALMENT_FUTURE),SKEW(cash.MONTHS_BALANCE),SKEW(cash.SK_DPD),SKEW(cash.SK_DPD_DEF),SKEW(cash.SK_ID_CURR),STD(cash.CNT_INSTALMENT),STD(cash.MONTHS_BALANCE),STD(cash.SK_ID_CURR),SUM(cash.CNT_INSTALMENT),SUM(cash.MONTHS_BALANCE),SUM(cash.SK_DPD_DEF),SUM(cash.SK_ID_CURR),COUNT(instalments),MAX(instalments.AMT_INSTALMENT),MAX(instalments.DAYS_ENTRY_PAYMENT),MAX(instalments.NUM_INSTALMENT_NUMBER),MAX(instalments.NUM_INSTALMENT_VERSION),MEAN(instalments.AMT_INSTALMENT),MEAN(instalments.NUM_INSTALMENT_NUMBER),MEAN(instalments.NUM_INSTALMENT_VERSION),MIN(instalments.AMT_INSTALMENT),MIN(instalments.NUM_INSTALMENT_NUMBER),SKEW(instalments.AMT_INSTALMENT),SKEW(instalments.DAYS_ENTRY_PAYMENT),SKEW(instalments.NUM_INSTALMENT_NUMBER),SKEW(instalments.NUM_INSTALMENT_VERSION),SKEW(instalments.SK_ID_CURR),STD(instalments.SK_ID_CURR),SUM(instalments.AMT_INSTALMENT),SUM(instalments.NUM_INSTALMENT_VERSION),SUM(instalments.SK_ID_CURR),COUNT(credit),MAX(credit.AMT_BALANCE),MAX(credit.AMT_CREDIT_LIMIT_ACTUAL),MAX(credit.AMT_DRAWINGS_ATM_CURRENT),MAX(credit.AMT_DRAWINGS_CURRENT),MAX(credit.AMT_DRAWINGS_OTHER_CURRENT),MAX(credit.AMT_DRAWINGS_POS_CURRENT),MAX(credit.AMT_PAYMENT_CURRENT),MAX(credit.CNT_DRAWINGS_ATM_CURRENT),MAX(credit.CNT_DRAWINGS_CURRENT),MAX(credit.CNT_DRAWINGS_OTHER_CURRENT),MAX(credit.CNT_INSTALMENT_MATURE_CUM),MAX(credit.MONTHS_BALANCE),MAX(credit.SK_DPD),MAX(credit.SK_DPD_DEF),MEAN(credit.AMT_BALANCE),MEAN(credit.AMT_DRAWINGS_ATM_CURRENT),MEAN(credit.AMT_DRAWINGS_CURRENT),MEAN(credit.AMT_DRAWINGS_OTHER_CURRENT),MEAN(credit.AMT_DRAWINGS_POS_CURRENT),MEAN(credit.AMT_PAYMENT_CURRENT),MEAN(credit.CNT_DRAWINGS_ATM_CURRENT),MEAN(credit.CNT_DRAWINGS_CURRENT),MEAN(credit.CNT_DRAWINGS_OTHER_CURRENT),MEAN(credit.SK_DPD_DEF),MIN(credit.AMT_BALANCE),MIN(credit.AMT_CREDIT_LIMIT_ACTUAL),MIN(credit.AMT_DRAWINGS_ATM_CURRENT),MIN(credit.AMT_DRAWINGS_CURRENT),MIN(credit.AMT_DRAWINGS_OTHER_CURRENT),MIN(credit.AMT_DRAWINGS_POS_CURRENT),MIN(credit.AMT_INST_MIN_REGULARITY),MIN(credit.AMT_PAYMENT_CURRENT),MIN(credit.AMT_PAYMENT_TOTAL_CURRENT),MIN(credit.CNT_DRAWINGS_ATM_CURRENT),MIN(credit.CNT_DRAWINGS_CURRENT),MIN(credit.CNT_DRAWINGS_OTHER_CURRENT),MIN(credit.CNT_DRAWINGS_POS_CURRENT),MIN(credit.CNT_INSTALMENT_MATURE_CUM),MIN(credit.SK_DPD),MIN(credit.SK_DPD_DEF),MODE(credit.NAME_CONTRACT_STATUS),NUM_UNIQUE(credit.NAME_CONTRACT_STATUS),SKEW(credit.AMT_BALANCE),SKEW(credit.AMT_CREDIT_LIMIT_ACTUAL),SKEW(credit.AMT_DRAWINGS_ATM_CURRENT),SKEW(credit.AMT_DRAWINGS_CURRENT),SKEW(credit.AMT_DRAWINGS_OTHER_CURRENT),SKEW(credit.AMT_DRAWINGS_POS_CURRENT),SKEW(credit.AMT_INST_MIN_REGULARITY),SKEW(credit.AMT_PAYMENT_CURRENT),SKEW(credit.CNT_INSTALMENT_MATURE_CUM),SKEW(credit.MONTHS_BALANCE),SKEW(credit.SK_DPD),SKEW(credit.SK_DPD_DEF),SKEW(credit.SK_ID_CURR),STD(credit.AMT_CREDIT_LIMIT_ACTUAL),STD(credit.AMT_DRAWINGS_ATM_CURRENT),STD(credit.CNT_DRAWINGS_ATM_CURRENT),STD(credit.SK_ID_CURR),SUM(credit.AMT_BALANCE),SUM(credit.AMT_CREDIT_LIMIT_ACTUAL),SUM(credit.AMT_DRAWINGS_ATM_CURRENT),SUM(credit.AMT_DRAWINGS_CURRENT),SUM(credit.AMT_DRAWINGS_OTHER_CURRENT),SUM(credit.AMT_DRAWINGS_POS_CURRENT),SUM(credit.CNT_DRAWINGS_ATM_CURRENT),SUM(credit.CNT_DRAWINGS_CURRENT),SUM(credit.CNT_DRAWINGS_OTHER_CURRENT),SUM(credit.SK_DPD_DEF),MAX(bureau.COUNT(bureau_balance)),MAX(bureau.NUM_UNIQUE(bureau_balance.STATUS)),MAX(bureau.SKEW(bureau_balance.MONTHS_BALANCE)),MAX(bureau.SUM(bureau_balance.MONTHS_BALANCE)),MEAN(bureau.MAX(bureau_balance.MONTHS_BALANCE)),MEAN(bureau.NUM_UNIQUE(bureau_balance.STATUS)),MEAN(bureau.SKEW(bureau_balance.MONTHS_BALANCE)),MIN(bureau.COUNT(bureau_balance)),MIN(bureau.MAX(bureau_balance.MONTHS_BALANCE)),MIN(bureau.MEAN(bureau_balance.MONTHS_BALANCE)),MIN(bureau.NUM_UNIQUE(bureau_balance.STATUS)),MIN(bureau.SKEW(bureau_balance.MONTHS_BALANCE)),MODE(bureau.MODE(bureau_balance.STATUS)),NUM_UNIQUE(bureau.MODE(bureau_balance.STATUS)),SKEW(bureau.COUNT(bureau_balance)),SKEW(bureau.MAX(bureau_balance.MONTHS_BALANCE)),SKEW(bureau.MEAN(bureau_balance.MONTHS_BALANCE)),SKEW(bureau.NUM_UNIQUE(bureau_balance.STATUS)),SKEW(bureau.SUM(bureau_balance.MONTHS_BALANCE)),STD(bureau.MEAN(bureau_balance.MONTHS_BALANCE)),STD(bureau.NUM_UNIQUE(bureau_balance.STATUS)),STD(bureau.SKEW(bureau_balance.MONTHS_BALANCE)),SUM(bureau.MAX(bureau_balance.MONTHS_BALANCE)),SUM(bureau.MEAN(bureau_balance.MONTHS_BALANCE)),MODE(bureau_balance.bureau.CREDIT_ACTIVE),MODE(bureau_balance.bureau.CREDIT_CURRENCY),MODE(bureau_balance.bureau.CREDIT_TYPE),SKEW(bureau_balance.bureau.AMT_ANNUITY),SKEW(bureau_balance.bureau.AMT_CREDIT_MAX_OVERDUE),SKEW(bureau_balance.bureau.AMT_CREDIT_SUM),SKEW(bureau_balance.bureau.AMT_CREDIT_SUM_DEBT),SKEW(bureau_balance.bureau.AMT_CREDIT_SUM_LIMIT),SKEW(bureau_balance.bureau.AMT_CREDIT_SUM_OVERDUE),SKEW(bureau_balance.bureau.DAYS_CREDIT),SKEW(bureau_balance.bureau.DAYS_CREDIT_ENDDATE),SKEW(bureau_balance.bureau.DAYS_CREDIT_UPDATE),SKEW(bureau_balance.bureau.DAYS_ENDDATE_FACT),STD(bureau_balance.bureau.DAYS_CREDIT),SUM(bureau_balance.bureau.AMT_CREDIT_SUM),SUM(bureau_balance.bureau.AMT_CREDIT_SUM_DEBT),SUM(bureau_balance.bureau.AMT_CREDIT_SUM_LIMIT),SUM(bureau_balance.bureau.CNT_CREDIT_PROLONG),SUM(bureau_balance.bureau.CREDIT_DAY_OVERDUE),SUM(bureau_balance.bureau.DAYS_CREDIT_ENDDATE),SUM(bureau_balance.bureau.DAYS_CREDIT_UPDATE),MAX(previous.COUNT(cash)),MAX(previous.MEAN(cash.SK_DPD_DEF)),MAX(previous.MEAN(instalments.AMT_INSTALMENT)),MAX(previous.MIN(cash.CNT_INSTALMENT)),MAX(previous.MIN(cash.CNT_INSTALMENT_FUTURE)),MAX(previous.MIN(cash.SK_DPD)),MAX(previous.MIN(cash.SK_DPD_DEF)),MAX(previous.MIN(credit.AMT_DRAWINGS_OTHER_CURRENT)),MAX(previous.MIN(credit.CNT_DRAWINGS_OTHER_CURRENT)),MAX(previous.MIN(credit.SK_DPD)),MAX(previous.MIN(credit.SK_DPD_DEF)),MAX(previous.MIN(instalments.AMT_INSTALMENT)),MAX(previous.MIN(instalments.NUM_INSTALMENT_NUMBER)),MAX(previous.MIN(instalments.NUM_INSTALMENT_VERSION)),MAX(previous.SKEW(cash.CNT_INSTALMENT)),MAX(previous.SKEW(cash.CNT_INSTALMENT_FUTURE)),MAX(previous.SKEW(cash.MONTHS_BALANCE)),MAX(previous.SKEW(cash.SK_ID_CURR)),MAX(previous.SKEW(credit.MONTHS_BALANCE)),MAX(previous.SKEW(credit.SK_ID_CURR)),MAX(previous.SKEW(instalments.AMT_INSTALMENT)),MAX(previous.SKEW(instalments.DAYS_ENTRY_PAYMENT)),MAX(previous.SKEW(instalments.DAYS_INSTALMENT)),MAX(previous.SKEW(instalments.NUM_INSTALMENT_NUMBER)),MAX(previous.SKEW(instalments.NUM_INSTALMENT_VERSION)),MAX(previous.SKEW(instalments.SK_ID_CURR)),MAX(previous.STD(cash.CNT_INSTALMENT)),MAX(previous.STD(cash.SK_ID_CURR)),MAX(previous.STD(credit.SK_ID_CURR)),MAX(previous.STD(instalments.AMT_INSTALMENT)),MAX(previous.STD(instalments.SK_ID_CURR)),MAX(previous.SUM(cash.MONTHS_BALANCE)),MAX(previous.SUM(cash.SK_ID_CURR)),MAX(previous.SUM(credit.AMT_CREDIT_LIMIT_ACTUAL)),MAX(previous.SUM(credit.MONTHS_BALANCE)),MAX(previous.SUM(instalments.AMT_INSTALMENT)),MAX(previous.SUM(instalments.DAYS_ENTRY_PAYMENT)),MAX(previous.SUM(instalments.NUM_INSTALMENT_VERSION)),MAX(previous.SUM(instalments.SK_ID_CURR)),MEAN(previous.COUNT(cash)),MEAN(previous.COUNT(credit)),MEAN(previous.COUNT(instalments)),MEAN(previous.MAX(instalments.NUM_INSTALMENT_NUMBER)),MEAN(previous.MAX(instalments.NUM_INSTALMENT_VERSION)),MEAN(previous.MEAN(instalments.AMT_INSTALMENT)),MEAN(previous.MEAN(instalments.NUM_INSTALMENT_NUMBER)),MEAN(previous.MIN(cash.CNT_INSTALMENT)),MEAN(previous.MIN(cash.CNT_INSTALMENT_FUTURE)),MEAN(previous.MIN(cash.SK_DPD)),MEAN(previous.MIN(cash.SK_DPD_DEF)),MEAN(previous.MIN(credit.AMT_DRAWINGS_OTHER_CURRENT)),MEAN(previous.MIN(credit.CNT_DRAWINGS_OTHER_CURRENT)),MEAN(previous.MIN(credit.SK_DPD)),MEAN(previous.MIN(credit.SK_DPD_DEF)),MEAN(previous.MIN(instalments.AMT_INSTALMENT)),MEAN(previous.MIN(instalments.NUM_INSTALMENT_VERSION)),MEAN(previous.NUM_UNIQUE(cash.NAME_CONTRACT_STATUS)),MEAN(previous.SKEW(cash.CNT_INSTALMENT)),MEAN(previous.SKEW(cash.CNT_INSTALMENT_FUTURE)),MEAN(previous.SKEW(cash.MONTHS_BALANCE)),MEAN(previous.SKEW(cash.SK_DPD)),MEAN(previous.SKEW(cash.SK_DPD_DEF)),MEAN(previous.SKEW(cash.SK_ID_CURR)),MEAN(previous.SKEW(credit.MONTHS_BALANCE)),MEAN(previous.SKEW(credit.SK_ID_CURR)),MEAN(previous.SKEW(instalments.AMT_INSTALMENT)),MEAN(previous.SKEW(instalments.DAYS_ENTRY_PAYMENT)),MEAN(previous.SKEW(instalments.DAYS_INSTALMENT)),MEAN(previous.SKEW(instalments.NUM_INSTALMENT_NUMBER)),MEAN(previous.SKEW(instalments.NUM_INSTALMENT_VERSION)),MEAN(previous.SKEW(instalments.SK_ID_CURR)),MEAN(previous.STD(cash.CNT_INSTALMENT)),MEAN(previous.STD(cash.CNT_INSTALMENT_FUTURE)),MEAN(previous.STD(cash.MONTHS_BALANCE)),MEAN(previous.STD(cash.SK_ID_CURR)),MEAN(previous.STD(credit.SK_ID_CURR)),MEAN(previous.STD(instalments.DAYS_ENTRY_PAYMENT)),MEAN(previous.STD(instalments.SK_ID_CURR)),MEAN(previous.SUM(cash.CNT_INSTALMENT)),MEAN(previous.SUM(cash.MONTHS_BALANCE)),MEAN(previous.SUM(cash.SK_DPD)),MEAN(previous.SUM(cash.SK_DPD_DEF)),MEAN(previous.SUM(cash.SK_ID_CURR)),MEAN(previous.SUM(credit.AMT_BALANCE)),MEAN(previous.SUM(credit.AMT_CREDIT_LIMIT_ACTUAL)),MEAN(previous.SUM(credit.AMT_DRAWINGS_ATM_CURRENT)),MEAN(previous.SUM(credit.AMT_DRAWINGS_CURRENT)),MEAN(previous.SUM(credit.AMT_DRAWINGS_OTHER_CURRENT)),MEAN(previous.SUM(credit.AMT_DRAWINGS_POS_CURRENT)),MEAN(previous.SUM(credit.CNT_DRAWINGS_ATM_CURRENT)),MEAN(previous.SUM(credit.CNT_DRAWINGS_CURRENT)),MEAN(previous.SUM(credit.CNT_DRAWINGS_OTHER_CURRENT)),MEAN(previous.SUM(credit.CNT_INSTALMENT_MATURE_CUM)),MEAN(previous.SUM(credit.SK_DPD)),MEAN(previous.SUM(credit.SK_DPD_DEF)),MEAN(previous.SUM(instalments.AMT_INSTALMENT)),MEAN(previous.SUM(instalments.DAYS_ENTRY_PAYMENT)),MEAN(previous.SUM(instalments.NUM_INSTALMENT_NUMBER)),MEAN(previous.SUM(instalments.NUM_INSTALMENT_VERSION)),MEAN(previous.SUM(instalments.SK_ID_CURR)),MIN(previous.COUNT(cash)),MIN(previous.COUNT(instalments)),MIN(previous.MAX(cash.CNT_INSTALMENT)),MIN(previous.MAX(cash.SK_DPD_DEF)),MIN(previous.MAX(instalments.AMT_INSTALMENT)),MIN(previous.MAX(instalments.NUM_INSTALMENT_NUMBER)),MIN(previous.MAX(instalments.NUM_INSTALMENT_VERSION)),MIN(previous.MEAN(cash.SK_DPD_DEF)),MIN(previous.MEAN(instalments.AMT_INSTALMENT)),MIN(previous.MEAN(instalments.NUM_INSTALMENT_NUMBER)),MIN(previous.NUM_UNIQUE(cash.NAME_CONTRACT_STATUS)),MIN(previous.SKEW(cash.CNT_INSTALMENT)),MIN(previous.SKEW(cash.CNT_INSTALMENT_FUTURE)),MIN(previous.SKEW(cash.MONTHS_BALANCE)),MIN(previous.SKEW(cash.SK_DPD)),MIN(previous.SKEW(cash.SK_DPD_DEF)),MIN(previous.SKEW(cash.SK_ID_CURR)),MIN(previous.SKEW(credit.SK_ID_CURR)),MIN(previous.SKEW(instalments.AMT_INSTALMENT)),MIN(previous.SKEW(instalments.DAYS_ENTRY_PAYMENT)),MIN(previous.SKEW(instalments.DAYS_INSTALMENT)),MIN(previous.SKEW(instalments.NUM_INSTALMENT_NUMBER)),MIN(previous.SKEW(instalments.NUM_INSTALMENT_VERSION)),MIN(previous.SKEW(instalments.SK_ID_CURR)),MIN(previous.STD(cash.CNT_INSTALMENT)),MIN(previous.STD(cash.CNT_INSTALMENT_FUTURE)),MIN(previous.STD(cash.MONTHS_BALANCE)),MIN(previous.STD(cash.SK_ID_CURR)),MIN(previous.STD(credit.SK_ID_CURR)),MIN(previous.STD(instalments.DAYS_ENTRY_PAYMENT)),MIN(previous.STD(instalments.NUM_INSTALMENT_VERSION)),MIN(previous.STD(instalments.SK_ID_CURR)),MIN(previous.SUM(cash.CNT_INSTALMENT)),MIN(previous.SUM(cash.CNT_INSTALMENT_FUTURE)),MIN(previous.SUM(cash.MONTHS_BALANCE)),MIN(previous.SUM(cash.SK_DPD)),MIN(previous.SUM(cash.SK_DPD_DEF)),MIN(previous.SUM(credit.AMT_BALANCE)),MIN(previous.SUM(credit.AMT_CREDIT_LIMIT_ACTUAL)),MIN(previous.SUM(credit.AMT_DRAWINGS_ATM_CURRENT)),MIN(previous.SUM(credit.AMT_DRAWINGS_CURRENT)),MIN(previous.SUM(credit.AMT_DRAWINGS_OTHER_CURRENT)),MIN(previous.SUM(credit.AMT_DRAWINGS_POS_CURRENT)),MIN(previous.SUM(credit.AMT_PAYMENT_CURRENT)),MIN(previous.SUM(credit.CNT_DRAWINGS_ATM_CURRENT)),MIN(previous.SUM(credit.CNT_DRAWINGS_CURRENT)),MIN(previous.SUM(credit.CNT_DRAWINGS_OTHER_CURRENT)),MIN(previous.SUM(credit.CNT_INSTALMENT_MATURE_CUM)),MIN(previous.SUM(credit.SK_DPD)),MIN(previous.SUM(credit.SK_DPD_DEF)),MIN(previous.SUM(instalments.AMT_INSTALMENT)),MIN(previous.SUM(instalments.DAYS_ENTRY_PAYMENT)),MIN(previous.SUM(instalments.NUM_INSTALMENT_NUMBER)),MODE(previous.MODE(cash.NAME_CONTRACT_STATUS)),MODE(previous.MODE(credit.NAME_CONTRACT_STATUS)),NUM_UNIQUE(previous.MODE(cash.NAME_CONTRACT_STATUS)),SKEW(previous.COUNT(cash)),SKEW(previous.COUNT(instalments)),SKEW(previous.MAX(cash.CNT_INSTALMENT)),SKEW(previous.MAX(cash.MONTHS_BALANCE)),SKEW(previous.MAX(cash.SK_ID_CURR)),SKEW(previous.MAX(instalments.AMT_INSTALMENT)),SKEW(previous.MAX(instalments.NUM_INSTALMENT_NUMBER)),SKEW(previous.MAX(instalments.NUM_INSTALMENT_VERSION)),SKEW(previous.MAX(instalments.SK_ID_CURR)),SKEW(previous.MEAN(cash.CNT_INSTALMENT_FUTURE)),SKEW(previous.MEAN(cash.SK_ID_CURR)),SKEW(previous.MEAN(instalments.AMT_INSTALMENT)),SKEW(previous.MEAN(instalments.NUM_INSTALMENT_VERSION)),SKEW(previous.MEAN(instalments.SK_ID_CURR)),SKEW(previous.MIN(cash.CNT_INSTALMENT)),SKEW(previous.MIN(cash.CNT_INSTALMENT_FUTURE)),SKEW(previous.MIN(cash.SK_DPD)),SKEW(previous.MIN(cash.SK_DPD_DEF)),SKEW(previous.MIN(cash.SK_ID_CURR)),SKEW(previous.MIN(instalments.AMT_INSTALMENT)),SKEW(previous.MIN(instalments.AMT_PAYMENT)),SKEW(previous.MIN(instalments.NUM_INSTALMENT_VERSION)),SKEW(previous.MIN(instalments.SK_ID_CURR)),SKEW(previous.NUM_UNIQUE(cash.NAME_CONTRACT_STATUS)),SKEW(previous.STD(cash.CNT_INSTALMENT)),SKEW(previous.STD(cash.CNT_INSTALMENT_FUTURE)),SKEW(previous.STD(cash.MONTHS_BALANCE)),SKEW(previous.STD(cash.SK_ID_CURR)),SKEW(previous.STD(instalments.AMT_INSTALMENT)),SKEW(previous.STD(instalments.AMT_PAYMENT)),SKEW(previous.STD(instalments.DAYS_ENTRY_PAYMENT)),SKEW(previous.STD(instalments.NUM_INSTALMENT_VERSION)),SKEW(previous.STD(instalments.SK_ID_CURR)),SKEW(previous.SUM(cash.CNT_INSTALMENT)),SKEW(previous.SUM(cash.CNT_INSTALMENT_FUTURE)),SKEW(previous.SUM(cash.MONTHS_BALANCE)),SKEW(previous.SUM(credit.AMT_CREDIT_LIMIT_ACTUAL)),SKEW(previous.SUM(credit.AMT_DRAWINGS_OTHER_CURRENT)),SKEW(previous.SUM(credit.AMT_DRAWINGS_POS_CURRENT)),SKEW(previous.SUM(credit.AMT_PAYMENT_CURRENT)),SKEW(previous.SUM(credit.SK_DPD)),SKEW(previous.SUM(credit.SK_DPD_DEF)),SKEW(previous.SUM(instalments.AMT_INSTALMENT)),SKEW(previous.SUM(instalments.DAYS_ENTRY_PAYMENT)),SKEW(previous.SUM(instalments.NUM_INSTALMENT_NUMBE

In [17]:
summarize_dataframe(fm4)

Data Total Number of Each Type:
 float64     487
Int64       209
int64         7
category      4
category      4
category      4
category      4
category      4
category      4
category      4
category      4
category      4
category      4
category      4
category      4
category      4
category      4
category      3
category      2
category      2
category      2
category      2
category      2
category      2
Name: count, dtype: int64

Float Types Count:
 MAX(bureau.AMT_ANNUITY)                   4346
MAX(bureau.AMT_CREDIT_MAX_OVERDUE)        5847
MAX(bureau.AMT_CREDIT_SUM)               10014
MAX(bureau.AMT_CREDIT_SUM_DEBT)          17748
MAX(bureau.AMT_CREDIT_SUM_LIMIT)          3844
                                         ...
SUM(credit.previous.AMT_GOODS_PRICE)       587
SUM(credit.previous.DAYS_FIRST_DUE)       3641
SUM(credit.previous.DAYS_LAST_DUE)        2082
SUM(credit.previous.DAYS_TERMINATION)     1102
SUM(credit.previous.SELLERPLACE_AREA)     2050
Length: 487, dtype: int64

Integer Types Count:
 TARGET                                               2
COUNT(bureau)                                       42
MAX(bureau.CNT_CREDIT_PROLONG)                       8
MAX(bureau.CREDIT_DAY_OVERDUE)                     175
MAX(bureau.DAYS_CREDIT)                           2403
                                                  ...
SKEW(credit.previous.NFLAG_LAST_APPL_IN_DAY)         1
STD(credit.previous.CNT_PAYMENT)                     1
STD(credit.previous.DAYS_LAST_DUE_1ST_VERSION)       1
STD(credit.previous.NFLAG_INSURED_ON_APPROVAL)       1
STD(credit.previous.NFLAG_LAST_APPL_IN_DAY)          1
Length: 216, dtype: int64

Object Types Count:
 Series([], dtype: float64)

Data Dimension: (30751, 774)

In [18]:
columns_to_check = ['SK_ID_BUREAU', 'SK_ID_CURR', 'SK_ID_PREV', 'TARGET']

# Check if each column exists in the DataFrame and print the result
for column in columns_to_check:
    if column in fm4.columns:
        print(f"Column '{column}' is in the DataFrame.")
    else:
        print(f"Column '{column}' is NOT in the DataFrame.")

Column 'SK_ID_BUREAU' is NOT in the DataFrame.
Column 'SK_ID_CURR' is NOT in the DataFrame.
Column 'SK_ID_PREV' is NOT in the DataFrame.
Column 'TARGET' is in the DataFrame.

In [19]:
fm5 = fm4.copy()
target = fm5['TARGET']
fm5 = fm5.drop(columns = 'TARGET')
# convert 'object' to categorical features
fm5 = convert_to_categorical(fm5, min_unique=2, max_unique=20)

Converted columns to categorical: []

In [20]:
# perform one-hot encoding for categorical features
fm5 = encode_and_one_hot(fm5)

DataFrame shape before encoding: (30751, 773)
0 columns were label encoded.
DataFrame shape after encoding: (30751, 1258)

In [26]:
# load df3, df4, df3_new_features, and df4_new_features
# load the data
df3 = pd.read_csv(f'{config.CleanDataPath}df3.csv', index_col='SK_ID_CURR')
df3 = df3.loc[:, ~df3.columns.str.contains('^Unnamed')]
df3_new_features = pd.read_csv(f'{config.CleanDataPath}df3_new_features.csv', index_col='SK_ID_CURR')
df3_new_features = df3_new_features.loc[:, ~df3_new_features.columns.str.contains('^Unnamed')]

df4 = pd.read_csv(f'{config.CleanDataPath}df4.csv', index_col='SK_ID_CURR')
df4 = df4.loc[:, ~df4.columns.str.contains('^Unnamed')]
df4_new_features = pd.read_csv(f'{config.CleanDataPath}df4_new_features.csv', index_col='SK_ID_CURR')
df4_new_features = df4_new_features.loc[:, ~df4_new_features.columns.str.contains('^Unnamed')]

In [28]:
# Merge data together
fm5_df4 = merge_data_on_index(fm5, df4, how='inner')
fm5_df4_new_features = merge_data_on_index(fm5, df4_new_features, how='inner')

First data input shape: (30751, 1258)
Second data input shape: (30751, 161)
Combined data shape: (30751, 1419)
First data input shape: (30751, 1258)
Second data input shape: (30751, 214)
Combined data shape: (30751, 1472)

To boost computational efficiency and reduce noise, we’ll use Factor Analysis of Mixed Data (FAMD) to streamline the dataset by reducing its dimensionality. We’ll retain components until we capture 70% of the cumulative variance for model experimentation. By setting this threshold, we create a dataset that’s optimized for effective model testing and analysis while maintaining the most informative features.

FAMD is a great choice here because it’s built to handle both numerical and categorical variables, making it perfect for mixed datasets like ours. By reducing the dimensionality, FAMD retains the most critical variance, helping us filter out redundant or noisy features and resulting in a more efficient and manageable dataset for model training.

As with any dimensionality reduction method, FAMD does come with trade-offs. With our 70% variance threshold, we’ll lose about 30% of the variance, which means some information may be sacrificed. Additionally, the components created by FAMD are combinations of multiple original features, which can make them a bit harder to interpret. Nonetheless, the benefits of a streamlined, computationally efficient dataset often outweigh these minor drawbacks, especially when it comes to preparing our data for effective modeling!

In [43]:
import time

# Record start time
start_time = time.time()
reduced_df = preprocess_and_reduce_features(fm5_df4, n_components=120, target_variance=0.70) 
# Record end time
end_time = time.time()

# Calculate and print the elapsed time
elapsed_time = end_time - start_time
print(f"Elapsed time: {elapsed_time:.2f} seconds")

Number of Components: 120
Cumulative Variance: 0.6273510224734017
Number of Components: 121
Cumulative Variance: 0.6296745975252099
Number of Components: 122
Cumulative Variance: 0.6319613449832183
Number of Components: 123
Cumulative Variance: 0.6340994295835857
Number of Components: 124
Cumulative Variance: 0.6359731590012577
Number of Components: 125
Cumulative Variance: 0.6387124750466693
Number of Components: 126
Cumulative Variance: 0.6411434534318146
Number of Components: 127
Cumulative Variance: 0.6431347808238193
Number of Components: 128
Cumulative Variance: 0.6452237970355311
Number of Components: 129
Cumulative Variance: 0.6475538249060243
Number of Components: 130
Cumulative Variance: 0.649654452602891
Number of Components: 131
Cumulative Variance: 0.6519035047971888
Number of Components: 132
Cumulative Variance: 0.6537936668121904
Number of Components: 133
Cumulative Variance: 0.6560990941880118
Number of Components: 134
Cumulative Variance: 0.658379114423537
Number of Components: 135
Cumulative Variance: 0.6601247164022794
Number of Components: 136
Cumulative Variance: 0.6625176893954036
Number of Components: 137
Cumulative Variance: 0.6644703960248196
Number of Components: 138
Cumulative Variance: 0.6668317915519753
Number of Components: 139
Cumulative Variance: 0.6688434158007383
Number of Components: 140
Cumulative Variance: 0.6711155594274727
Number of Components: 141
Cumulative Variance: 0.6730189728095598
Number of Components: 142
Cumulative Variance: 0.6751818553310778
Number of Components: 143
Cumulative Variance: 0.6775709156355404
Number of Components: 144
Cumulative Variance: 0.679264651697533
Number of Components: 145
Cumulative Variance: 0.681705325577931
Number of Components: 146
Cumulative Variance: 0.6832981933184996
Number of Components: 147
Cumulative Variance: 0.6861102664249589
Number of Components: 148
Cumulative Variance: 0.6880264877545791
Number of Components: 149
Cumulative Variance: 0.6896419597221956
Number of Components: 150
Cumulative Variance: 0.6919331119577373
Number of Components: 151
Cumulative Variance: 0.6940605714411108
Number of Components: 152
Cumulative Variance: 0.6964314737050356
Number of Components: 153
Cumulative Variance: 0.6980479465314154
Number of Components: 154
Cumulative Variance: 0.7000962474494724
          eigenvalue % of variance % of variance (cumulative)
component
0          7,757.583         4.62%                      4.62%
1          3,746.208         2.23%                      6.85%
2          3,197.349         1.90%                      8.75%
3          2,785.212         1.66%                     10.41%
4          2,024.852         1.21%                     11.62%
...              ...           ...                        ...
149          320.389         0.19%                     69.25%
150          319.184         0.19%                     69.44%
151          317.707         0.19%                     69.63%
152          316.711         0.19%                     69.82%
153          315.504         0.19%                     70.01%

[154 rows x 3 columns]
Cumulative Variance: 0.7000962474494724


Reduced Data Shape: (30751, 154)

Reduced Data (first 5 rows):
 component         0           1          2           3          4    \
SK_ID_CURR
307474     -82.546798  -31.883798 -97.963351  101.878046 -53.592131
412537     -70.563459  -18.413504  93.164951   34.033494 -14.656558
149084       6.097500  118.489737 -38.442164  -49.012343  26.881805
364692      68.465648  -58.655247  69.020626    1.081445 -55.212487
155423      32.221132  106.863514   5.109733   46.552986  -9.641837

component         5          6          7           8          9          10   \
SK_ID_CURR
307474     -55.602018  16.572914 -32.840379  103.903551 -95.720168 -39.715608
412537      10.823573  -6.693990  -6.612309   -1.402253  -1.930109   7.049528
149084     -13.602071   1.846705  24.912586   -1.678898 -39.376836  71.999553
364692      24.460463   0.345956   8.898076    3.736432  -6.045974 -16.914579
155423      -4.973203  -6.282997 -29.629130   -3.802044  35.526825  33.410849

component         11         12         13         14         15         16   \
SK_ID_CURR
307474      -1.697317   9.137697   2.056202  15.543186  34.692834 -23.446844
412537     -22.265776  11.939416  11.686283  -8.444639  33.697655  52.009772
149084     -14.261839  18.559452 -37.904609  26.324637  32.345665 -33.461945
364692      69.388362 -10.364196 -20.497815  14.122692 -31.799678 -57.825622
155423      29.040738 -10.176499  -2.952260 -15.942502 -47.497131  72.840727

component         17         18         19         20         21        22   \
SK_ID_CURR
307474       8.706843   5.866737  -5.151289  -8.896943  -3.556385 -2.906730
412537       7.142769 -62.078159  15.251579 -19.172295   3.576408  0.657511
149084       8.921280   5.866390  31.838729 -12.421787  -2.489583  3.008889
364692      22.067590  26.208847  14.535886  23.596067  -8.284643  1.644467
155423      23.774806 -68.635102 -30.477147  49.426727 -18.408501  6.323352

component         23         24        25         26         27         28   \
SK_ID_CURR
307474       5.552430  11.622564  0.116418 -23.136425  23.447168   6.977368
412537      -4.169832  -1.868903  0.502202  -6.931015 -10.598645  18.089502
149084      -3.005260  11.563320  2.385401 -29.840547   2.545789 -20.190378
364692      20.928419  -5.831171 -5.383158  62.614916 -10.514556 -18.926956
155423      -5.429957  -4.125357  5.055097  40.882740  10.305837   9.407674

component         29         30         31         32         33        34   \
SK_ID_CURR
307474     -23.796753   6.031071 -11.974040 -13.990701  12.905745  5.377228
412537      -0.316422  -7.724999  21.591881  25.115846 -23.351716  2.074324
149084     -35.945511 -14.173286  -6.664721  -3.448927  15.846278 -4.468817
364692     -16.505920  -3.552375   4.935522  14.939510  15.801850  5.946653
155423      13.786164   1.412419   3.644561  -8.640380 -10.451321 -6.192540

component         35         36         37         38         39         40   \
SK_ID_CURR
307474     -40.854070  13.611780   3.301305  15.915708   5.612491  24.011531
412537     -16.428272  -9.478058 -25.382263   1.775197   2.338233  -8.206851
149084     -30.555074  37.403226  -0.919780 -28.827185 -18.286986 -21.490491
364692       9.347153   6.624314   8.888842   2.961324  15.096007  -5.140488
155423      -3.168117   0.812692  34.426059  -4.990344  -5.282094  -6.639199

component         41         42         43        44         45         46   \
SK_ID_CURR
307474     -10.330954   4.908187  41.498446  3.642867 -28.149921   2.181273
412537       6.334860   1.264476  -5.211170  4.449892  10.447162   5.115018
149084       0.335733  13.024081  43.112129 -9.060164  -9.599827   6.728554
364692     -16.125831  18.442985   0.228310  3.127522   9.310755 -18.620790
155423      19.786402 -31.170396   1.991378 -0.149407 -13.140058   2.114328

component        47         48         49         50         51         52   \
SK_ID_CURR
307474     -1.316506  -3.974362  21.321625 -11.112837 -23.888260  11.365794
412537     -6.709336  -3.824719   1.394891   0.073625   3.436823  -3.338001
149084      1.479511 -17.315858  28.603058  -7.476178 -18.484740  12.294474
364692     -0.327624  42.964737 -14.580092 -33.956369   2.494924  29.085031
155423      3.864071  -2.731460 -13.576100  -4.743675   5.337150   5.899209

component         53         54         55         56         57        58   \
SK_ID_CURR
307474     -14.588972  -4.137349   0.296273  -1.200088  16.684369 -6.043384
412537       7.978583  11.671584  -2.358106  -2.443821  -5.083757  0.460887
149084     -12.041334 -13.851269  12.966400 -20.682110   4.087581  3.717533
364692       2.564201 -36.361337 -12.829890  15.201116  24.288912  6.938726
155423       5.746228  -8.768138  -1.246347   0.086660  -2.128869  1.664437

component        59         60         61         62         63         64   \
SK_ID_CURR
307474     -0.370383  -2.697825  -5.343866  -0.699321  -1.794351  -3.687901
412537      2.474928   3.464054  -7.515175  -4.115904  -1.836800  -4.354837
149084      9.018788   8.785032  38.394905  15.567511 -13.109499  -7.936103
364692      0.840656 -20.612687 -21.231616  -2.738584   1.513577  17.613681
155423      4.762787   2.093102   2.003364 -11.651388 -23.404659  -1.361921

component         65         66         67         68         69         70   \
SK_ID_CURR
307474       4.092475  -2.861583  -4.435019   2.465952  -1.615121  16.846657
412537      -2.385965  -5.905871   5.265061   1.351944  -1.140607   3.833778
149084      18.705623   6.726711 -23.476154   0.151777  -1.127376  19.759997
364692     -17.559143 -19.661083  -4.887316  -2.989933   7.333960   9.090698
155423      10.682853  27.444381 -16.079973  20.141408  19.546687  -0.764547

component         71         72         73         74         75         76   \
SK_ID_CURR
307474      14.407681  -8.932694  -1.350488   2.034824   3.332240  -1.449860
412537      13.719822  -6.184899  -9.682395   8.051186  -1.912514  -6.562247
149084       2.553540  -7.212629   3.884897  -4.661685  21.570662  -4.129374
364692      22.275265   2.740586  10.000144  23.218413 -14.014682  -8.343167
155423     -72.734588  18.646598  36.886028  12.131746  15.048899 -20.396099

component         77         78         79         80         81         82   \
SK_ID_CURR
307474      -3.260315   3.563439  -4.939554   0.797797  -7.181757   8.626243
412537       0.052333   0.839656   0.112754   6.221867 -21.852832  -2.777227
149084       5.169120  -8.930096 -11.501751  26.233229  -4.583203  -5.537756
364692     -29.128106  13.659080  48.945410 -28.707250  21.525521  -0.104903
155423      -1.438414 -21.089725  36.072866  72.245276 -27.794519  16.274075

component         83         84         85         86         87         88   \
SK_ID_CURR
307474       7.000754  11.301077 -14.045631   0.277303  15.749764  -7.615788
412537       4.061326 -10.717966  10.759624  -0.898690  -1.492712  15.329040
149084     -13.796647   7.741169   6.369376  22.293154   0.361062 -38.777807
364692      12.786391   3.645571 -12.893981 -11.748965   1.894632  17.269696
155423      17.311938 -10.543622  14.922245 -19.161764  -9.330124  34.983933

component         89         90         91         92         93         94   \
SK_ID_CURR
307474      -3.900280   5.819986  -2.793507   1.405269  -8.030517  -3.251472
412537       1.785835  -3.138939  -0.329281  -1.608467  -9.361484  -1.684191
149084      -8.545009 -10.382408  25.161589  -5.209336   3.042906  -9.627494
364692       8.643282   7.265339 -12.144676  -7.702912   6.435160   2.446450
155423      20.521517 -67.502729 -40.737326  59.037324  21.202363  69.139135

component         95         96         97         98         99         100  \
SK_ID_CURR
307474     -11.006663   6.206920   3.688269   6.617578  -2.778888   6.800700
412537      -7.105672   3.673024   8.550091 -10.632359  12.563736   7.084979
149084      11.091314  -4.263246  -1.721297  -0.487958  14.987080  -0.413567
364692       0.186515   2.800904  -0.400077   9.191466  -8.490965  10.955561
155423     -77.177144  89.823842  42.859265   2.189071 -25.847783  79.613918

component         101        102        103        104        105        106  \
SK_ID_CURR
307474      16.262032  -4.678921 -15.792283   4.973522 -26.224133   7.630262
412537       9.568536  13.153521 -27.412584  10.722305 -11.878279  -2.849762
149084     -17.269938  17.994000  -6.800335 -30.321313  32.448866  38.589230
364692      10.764198   9.993288  -9.119339 -10.866989   8.354245  12.884835
155423      60.785310  69.605289  -2.171966   5.874531  27.974761 -27.640165

component         107        108        109        110        111        112  \
SK_ID_CURR
307474      10.206825  -0.477533   0.274094 -14.169943 -27.082852  -5.387786
412537       1.953112  15.566023   5.958188 -14.172087 -12.368541   7.803908
149084     -15.579857 -13.802241  -3.353065  17.768640   2.430258  27.764819
364692     -15.099704 -21.138047  -1.797970 -11.664897 -12.260561   0.652976
155423      10.323416  53.200417  17.360118   2.953835 -16.561511  19.230713

component         113        114        115        116         117        118  \
SK_ID_CURR
307474      -0.724472  22.228488   2.296590  24.931194   32.699497 -22.643259
412537      15.807975 -21.252557  -9.277618   5.897270   -0.816635   1.541683
149084       1.267743  -3.463422 -12.403451 -21.943769    6.239109  -7.984037
364692      11.548389   5.702363   7.182194 -11.763725    1.196405   1.295072
155423     -58.747186  -5.605911  26.856074  16.421848 -165.531455  44.126038

component         119        120        121        122        123         124  \
SK_ID_CURR
307474       8.250171  -5.448162  -7.980695 -15.247998  -5.875989  -12.799460
412537       0.668926  -7.265838   3.237234  -4.492014   2.297288   -5.525001
149084      -8.981854  17.950725  10.129258   1.360682 -31.332213   12.831630
364692       0.419391 -13.916660  23.806869 -22.199875  -8.551004  -20.088869
155423     -85.082242  47.129909   5.066192  -9.148397  19.019947 -123.547167

component         125         126        127        128         129  \
SK_ID_CURR
307474     -29.658781   15.785463   4.440536 -33.808379   -2.590274
412537      -1.059989   17.120257   2.172758  -4.545284    5.955404
149084      17.691056    0.309168  11.109766   9.926603    8.419073
364692       9.360513  -16.970561   7.856939  -5.699628    4.425469
155423      -6.447707 -121.345870 -55.752034  -6.534559  189.626403

component         130         131         132        133        134  \
SK_ID_CURR
307474      -6.526534   20.560404   -1.853165  30.270592  22.311386
412537     -10.222786   -4.475176    2.371957   2.180259   3.968830
149084     -13.074871   13.046139   18.227038  30.543820 -13.734946
364692       9.383349   12.751627   -5.171573 -11.984006  11.243901
155423      54.746657  101.466148  138.298813  69.912360  -2.063818

component         135         136        137        138        139  \
SK_ID_CURR
307474      -9.803331    0.391280  17.851626   8.264184  18.573869
412537       4.448837   -9.882748   2.011596  -2.669253  -3.787809
149084       2.376867   -2.634404 -12.908994 -23.101560  -8.472757
364692      -3.102644  -14.800841   2.023639  24.019901 -22.201864
155423      82.729392 -130.033925  47.104411 -63.840801 -23.570346

component          140        141        142        143         144       145  \
SK_ID_CURR
307474      -10.134032  -0.480338  17.836103  28.856277   -8.042114  5.910262
412537        5.140852   5.822497   5.296574   1.156556   -3.331818  1.684003
149084       -3.678892 -24.115923  24.921135   5.109559   17.615827  4.318290
364692        2.296691  -2.071259  -7.034786  18.523762   27.181413 -4.232915
155423      153.971853 -24.943000  -2.259042  67.070819  116.023432  5.636621

component         146        147         148        149         150  \
SK_ID_CURR
307474       6.614874 -12.416583  -10.611642   6.402462    2.105878
412537      -9.198515   3.950839    5.855760   2.268827   -6.844584
149084       2.957806  -3.253446   12.199175  12.235080   -8.861773
364692       0.835083  -0.062656   10.924312  -6.137302  -23.575607
155423      63.076874  94.769374 -124.157795  37.708502 -165.801382

component         151        152        153
SK_ID_CURR
307474      -5.320116 -25.018216  20.824051
412537       7.040844   5.443214   2.327563
149084       6.604661  13.883837 -12.713969
364692      -9.060187  -9.337652   5.473610
155423     -25.264213 -25.337339  10.994393
Elapsed time: 8882.00 seconds

In [44]:

start_time = time.time()
reduced_df_new_features = preprocess_and_reduce_features(fm5_df4_new_features, n_components=120, target_variance=0.70)
end_time = time.time()

elapsed_time = end_time - start_time
print(f"Elapsed time: {elapsed_time:.2f} seconds")

Number of Components: 120
Cumulative Variance: 0.6161041029129454
Number of Components: 121
Cumulative Variance: 0.6179054491771163
Number of Components: 122
Cumulative Variance: 0.6210253134796486
Number of Components: 123
Cumulative Variance: 0.6228331021986655
Number of Components: 124
Cumulative Variance: 0.6249560165683875
Number of Components: 125
Cumulative Variance: 0.6271415961498457
Number of Components: 126
Cumulative Variance: 0.6297655022767376
Number of Components: 127
Cumulative Variance: 0.631906429756533
Number of Components: 128
Cumulative Variance: 0.6337998708016509
Number of Components: 129
Cumulative Variance: 0.6359125101222657
Number of Components: 130
Cumulative Variance: 0.6383061166713427
Number of Components: 131
Cumulative Variance: 0.640682410910005
Number of Components: 132
Cumulative Variance: 0.6423867533169529
Number of Components: 133
Cumulative Variance: 0.6445124239891681
Number of Components: 134
Cumulative Variance: 0.6467248308149817
Number of Components: 135
Cumulative Variance: 0.6484075150834074
Number of Components: 136
Cumulative Variance: 0.6513644293891886
Number of Components: 137
Cumulative Variance: 0.6530410197415345
Number of Components: 138
Cumulative Variance: 0.6553122496388234
Number of Components: 139
Cumulative Variance: 0.6575524937693424
Number of Components: 140
Cumulative Variance: 0.659374386643893
Number of Components: 141
Cumulative Variance: 0.6617048048570865
Number of Components: 142
Cumulative Variance: 0.6636810742965434
Number of Components: 143
Cumulative Variance: 0.6658681355594394
Number of Components: 144
Cumulative Variance: 0.6680707578545014
Number of Components: 145
Cumulative Variance: 0.6700866585881424
Number of Components: 146
Cumulative Variance: 0.6720086595349325
Number of Components: 147
Cumulative Variance: 0.6741753747050703
Number of Components: 148
Cumulative Variance: 0.6760996430022048
Number of Components: 149
Cumulative Variance: 0.6779044252726513
Number of Components: 150
Cumulative Variance: 0.6801587301314242
Number of Components: 151
Cumulative Variance: 0.682485202033885
Number of Components: 152
Cumulative Variance: 0.6844237729924367
Number of Components: 153
Cumulative Variance: 0.6862123506133193
Number of Components: 154
Cumulative Variance: 0.6887532817442945
Number of Components: 155
Cumulative Variance: 0.6902535809367235
Number of Components: 156
Cumulative Variance: 0.6925055290360983
Number of Components: 157
Cumulative Variance: 0.6945330209612957
Number of Components: 158
Cumulative Variance: 0.6964330645988582
Number of Components: 159
Cumulative Variance: 0.698560766820783
Number of Components: 160
Cumulative Variance: 0.7004908958866785
          eigenvalue % of variance % of variance (cumulative)
component
0          7,901.644         4.51%                      4.51%
1          3,816.085         2.18%                      6.69%
2          3,261.066         1.86%                      8.56%
3          2,836.552         1.62%                     10.18%
4          2,063.924         1.18%                     11.36%
...              ...           ...                        ...
155          326.029         0.19%                     69.31%
156          324.980         0.19%                     69.50%
157          324.223         0.19%                     69.68%
158          322.847         0.18%                     69.87%
159          321.738         0.18%                     70.05%

[160 rows x 3 columns]
Cumulative Variance: 0.7004908958866785


Reduced Data Shape: (30751, 160)

Reduced Data (first 5 rows):
 component         0           1          2           3          4    \
SK_ID_CURR
307474     -83.047315  -32.264894 -99.592705  102.815547 -53.952837
412537     -70.991148  -17.873502  93.613162   34.387100 -14.373001
149084       6.389255  119.483455 -39.448714  -49.381862  26.686935
364692      69.257842  -59.286520  68.851091    0.930739 -56.643412
155423      32.483685  108.080616   4.842589   46.700790  -9.618091

component         5          6          7           8          9          10   \
SK_ID_CURR
307474     -56.526424  17.281764 -34.017001  103.522894 -97.185863 -41.091594
412537      10.145610  -6.138033  -6.627107   -0.724812  -1.979752   7.215245
149084     -13.228014   1.331616  25.371661   -0.918864 -39.408899  72.450992
364692      24.209836   0.269839   8.688022    4.429250  -5.866792 -16.939785
155423      -5.011583  -5.773610 -30.777848   -3.026688  35.430431  34.123672

component         11         12         13         14         15         16   \
SK_ID_CURR
307474      -2.669231   9.769548   3.928649  18.137322  35.035454 -16.703293
412537     -23.612007  10.816444  11.092178  -7.922014  24.648267  61.448601
149084     -14.955232  18.936660 -36.519450  29.257024  33.758279 -26.275366
364692      70.414430  -8.927754 -20.436087  14.378877 -25.213913 -61.222398
155423      31.927132 -11.754220  -8.756770 -20.883624 -56.748711  70.182849

component         17         18         19         20         21        22   \
SK_ID_CURR
307474       8.347533   2.535610  -4.805011  -8.446477  -5.295180 -2.301207
412537       5.297316 -60.982047  17.421363 -17.990764   3.440326  0.083256
149084       8.226508   1.429962  32.031371 -10.145190  -3.934211  3.664475
364692      21.625745  21.647544  13.709314  25.421968  -8.189820  2.788494
155423      23.209566 -65.730496 -31.272562  47.796376 -14.393898  5.785712

component         23         24        25         26         27         28   \
SK_ID_CURR
307474      12.209225  10.057577  1.464894 -22.649180  23.584798   2.060033
412537      -6.708940  -0.984404 -1.110575  -7.907200  -8.702069  14.938589
149084       5.994974   9.962149  0.080426 -31.346725   3.468167 -27.712263
364692      22.737270  -6.826867 -0.987503  64.939111  -9.559916 -22.723365
155423     -13.457202  -0.025431  6.652290  40.684284   3.716222  15.488506

component         29         30         31         32         33         34   \
SK_ID_CURR
307474     -22.555885   2.616748 -13.463974 -17.427869  15.692988  24.092677
412537      -6.986115  -3.035189  24.400336  27.009617 -26.172353   6.183237
149084     -19.755309 -19.613386  -5.704919  -8.363416  15.862631  22.883896
364692      -5.642829  -6.532630   3.942407  14.368240  14.914759   5.019178
155423       7.911106   3.917364   1.204691  -4.878151  -8.693241  -8.173667

component         35         36         37         38         39         40   \
SK_ID_CURR
307474     -35.601729  -1.154083  -4.155430  17.309272  11.101342  22.685398
412537     -12.859955  15.017563  22.097536   2.777930  -0.154064 -13.724185
149084     -39.197969 -29.626708   5.644132 -26.596135 -26.212271 -15.871117
364692       9.054134 -12.301839  -9.996555   2.202987  13.716475  -7.819638
155423      -4.855139  -4.372145 -34.246463  -5.319232 -11.227866  -4.816003

component         41         42         43         44         45         46   \
SK_ID_CURR
307474      -9.446971   0.727108  42.305433  -6.944217 -24.832775   3.350626
412537       6.468823   1.023505  -3.218641   8.120434  12.112378   6.226599
149084      -2.451245  12.631385  42.550088 -19.162117  -9.711351   5.475608
364692     -15.672588  17.966073   1.032036   4.859842  12.532014 -19.442967
155423      17.784925 -25.608511   2.878881   1.561045 -11.299300   4.252403

component        47         48         49         50         51         52   \
SK_ID_CURR
307474      0.748594  -5.613379  23.323404 -18.387350 -24.278514   5.887737
412537     -5.426260  -2.280613   4.583285  -1.339857   1.923168  -3.783484
149084      1.185863 -22.280892  27.061159 -11.766568 -17.033415   6.760233
364692      3.567058  42.306997 -14.660151 -38.409757  -0.644245  27.446716
155423      4.558072   4.324391 -10.012122  -1.082047  10.048421   0.340566

component         53         54         55         56        57         58   \
SK_ID_CURR
307474     -14.703329  -2.227429  -2.762145   0.320205 -3.073568  16.903656
412537       7.264654  11.128772   0.744347   2.661425  2.991748  -3.664688
149084     -13.111738 -11.738482  10.072089 -24.180561  3.334369   0.933071
364692       2.273197 -31.961195 -21.339005  12.855482  6.776773  18.431558
155423       3.883032  -3.663816  -6.621885   0.637261  0.995145 -12.660608

component        59         60         61         62         63         64   \
SK_ID_CURR
307474      2.832342  -4.294014   1.265328  -1.713676  -1.785193  -5.873257
412537      5.130891   1.818660   7.841805   1.522741   7.318704  -6.577620
149084     -3.508039  19.119511 -36.068862 -23.414576  -6.553672 -10.471102
364692      7.489182 -20.801527   9.546897   8.373252  -3.589189  15.477225
155423      5.620534   6.445032   0.062692 -10.516493  14.837775  -4.691249

component         65         66         67         68         69         70   \
SK_ID_CURR
307474       1.555190   0.167497  -5.894354   2.309266   2.151535 -12.842870
412537      -3.830113 -10.905004   4.427247   8.143598  -7.550027   8.230362
149084      17.414332  10.719137 -21.081839  -3.441566   8.331087 -24.231028
364692     -10.682596  -9.625036 -14.489035  -2.183481  12.898131  -8.215824
155423      14.581425  20.008854  -7.851953  23.184126  27.545291 -11.385617

component         71        72         73         74         75         76   \
SK_ID_CURR
307474      13.552917 -5.452970   3.507419   2.038428   0.816597  -5.917264
412537      17.756176 -0.930169  -6.068951  12.434151 -14.329268 -15.727662
149084       3.411601 -8.893560   9.189117   2.252445  24.602308   7.133149
364692      14.451010  7.396085  22.004396  28.970233 -11.261323 -43.799184
155423     -72.295524  3.934687   0.760767  27.707531   6.741307 -36.944437

component        77         78         79         80         81         82   \
SK_ID_CURR
307474      0.356660  -1.899788   1.780942   4.024787   3.566102  -9.403510
412537      8.453189   8.865954  -9.313240 -15.931539   4.610220  -7.872346
149084     -7.167509  -0.887212   6.170509   0.553244  31.813602  -9.976591
364692      3.979015 -14.220034  31.117379  20.276066 -35.875642   9.709117
155423      8.462150  19.377913  -3.204642 -55.241600  47.055484  28.216790

component         83         84         85         86         87         88   \
SK_ID_CURR
307474      12.851224   9.109531   0.389925  -8.169817  17.052040   0.976335
412537      -6.700294   3.267885 -11.895019  -0.390108  10.719912 -13.749594
149084      -0.153398  -8.322860  -3.289000   8.945286  -2.226075  33.424701
364692      12.329951  23.423558   7.127152 -13.676474  -0.701163 -19.671371
155423     -58.978368 -45.188945 -16.958658  31.980093 -12.659070 -32.498440

component         89         90         91         92         93         94   \
SK_ID_CURR
307474     -11.822297  11.374224  13.921281 -12.039801  -5.706687  21.361669
412537      17.559506   2.142400 -11.255046 -12.982031  12.245665  20.050693
149084     -23.012256 -10.126608   4.313062   8.648225  -9.837000  31.039548
364692       6.447020   6.953224   4.044672   2.302908   6.316599  -5.741457
155423      34.165836   6.676433 -55.660499  -2.358055 -38.403706 -85.889471

component         95         96         97         98         99         100  \
SK_ID_CURR
307474     -12.922572   0.431701  -1.683406  -8.379140   3.140924   1.622120
412537     -29.756036   5.062782 -10.853620   6.080519  21.562928  16.655393
149084       9.062931   0.201190  15.534259  -3.547563  -3.248524 -12.258885
364692      -1.610500   2.127989   3.872358   6.314764   1.075844  -2.052660
155423      47.491555 -58.114069 -65.451466  70.947705 -20.555629  77.555918

component         101        102        103        104         105        106  \
SK_ID_CURR
307474      -0.749300 -20.496592  -7.679480  13.030606   31.254232  13.625091
412537     -12.550341 -32.299039  20.276733   4.759301  -18.030438  10.620436
149084      -5.338382  -9.993858  12.183514  -6.592172  -10.501284   7.206498
364692      13.661347 -10.664860   4.939779  -2.849485   15.025089   7.899453
155423       4.823031 -58.045389  17.317026  71.574886  143.920474 -45.725168

component         107        108        109        110        111        112  \
SK_ID_CURR
307474      13.697161 -15.091592  -3.840604  -0.805616 -13.591763  24.376902
412537      -2.169778   4.110087  -4.705795  -8.701801   8.774649   6.641587
149084     -21.700031  13.933752  45.922249  -5.953247 -14.812046 -14.450069
364692      15.228760  -9.122923  13.546992  13.163257  -7.860892 -18.577336
155423      -7.672082  69.487471  67.334854 -24.539108 -11.069104 -16.465190

component         113        114        115        116        117        118  \
SK_ID_CURR
307474       2.874910  -0.118796 -10.641035  -7.335793  -1.729904 -18.118112
412537     -11.377127 -22.330756  -8.942848  27.401771   8.206769  21.037558
149084      32.790967  -9.185874  30.961217 -13.483317   9.548980  -4.079431
364692      -7.908692 -13.037207  -4.127827  -1.815549  24.820645 -20.697876
155423     -26.048862  14.185961 -58.489379  -7.865659  29.043923 -84.240471

component         119        120        121         122        123        124  \
SK_ID_CURR
307474     -20.350109  -5.963848 -22.359082    5.829304 -20.010119  -4.802877
412537       2.651067  -8.532853  -4.797772   -5.901270  19.217815  -4.987140
149084     -10.625839  15.549435   9.434347   28.740491   4.698655 -16.518649
364692      21.327555  -3.879421  -1.723294   13.570696  -3.791631  11.420126
155423      60.175195 -79.714621   9.784142 -140.257264  18.458164  72.121734

component         125        126        127        128        129        130  \
SK_ID_CURR
307474      12.416008  -2.289981 -17.386918   0.306802 -28.034208  24.063135
412537       7.559469   0.355388 -11.455265   3.103967 -24.853141  19.254252
149084     -18.085432   9.009720   2.139922 -10.089766  -3.709461  -9.370548
364692      -5.474741   0.317541 -15.677680   3.888952  -3.803598  21.808193
155423      47.453176  56.154552  69.208065  71.523869 -94.828676 -88.169265

component          131        132        133        134        135  \
SK_ID_CURR
307474       -0.730449  23.257829 -27.259655   0.260706 -16.038380
412537        6.383191  20.887191   0.388204 -33.120089  15.864495
149084      -25.281113   4.864578   0.962205 -35.903529  -2.824592
364692       -9.042791   6.670108  14.005518  -4.598789  -9.013721
155423      158.026149  85.166509 -23.073010 -38.103795 -59.182420

component          136        137        138         139         140  \
SK_ID_CURR
307474      -30.501349  40.294752  31.811990    5.749893  -34.087313
412537       -2.872701   8.200138   8.359899   -7.111904   16.778666
149084        6.515076  12.618586 -14.309786    7.529508   23.788822
364692       10.778961   8.321480  -9.274255  -11.938239   -0.204680
155423      120.093888  54.788263  46.635163  123.556780  117.363736

component         141        142        143        144         145        146  \
SK_ID_CURR
307474     -11.691394 -10.599534 -15.673272   1.554082    5.858086 -20.231166
412537      12.267640  -9.888667  -7.572096   8.978322    8.172479   2.771948
149084      -6.870162   2.606071 -10.716830  18.681526    2.948647  -0.251558
364692     -11.408494  -6.314081  -5.738895 -10.075258   -2.427075   1.195981
155423      -2.816677  17.846636  73.671877  11.576378  106.727920 -15.820561

component         147         148        149        150         151  \
SK_ID_CURR
307474      35.998697  -14.106690 -16.023139  -8.744918   10.716136
412537      10.742509    5.328896  -3.464712  -5.222404   -0.360900
149084     -10.801625    8.091168   8.582325  -6.451924    5.892880
364692       7.703207   22.052373 -11.248674 -11.160797   -1.174208
155423      11.154549  133.192934 -42.692749 -53.920263  108.952070

component         152        153        154        155       156         157  \
SK_ID_CURR
307474      26.733236 -24.306649 -42.859176   6.502740  6.049826    7.543491
412537      -0.178559   2.609293   8.641962  10.025218  4.397794   13.914318
149084       1.003496  -1.991941  11.417974   3.603652  6.290238   -6.883073
364692       7.739854  -0.028688   4.048036  -8.805761  8.704549    6.506291
155423      60.943014 -19.897708 -12.890648 -10.116053 -8.175407  131.811324

component         158        159
SK_ID_CURR
307474       1.432526  13.380056
412537     -13.017894  15.589601
149084      -3.595558  -0.168557
364692       4.020488   5.384275
155423     -63.724345  20.736898
Elapsed time: 10738.31 seconds

In [49]:
#merge again with 60 top corr data
df3_reduced_df = merge_data_on_index(df3, reduced_df, how='inner')
df3_reduced_df_new_features = merge_data_on_index(df3_new_features, reduced_df_new_features, how='inner')

First data input shape: (30751, 60)
Second data input shape: (30751, 154)
Combined data shape: (30751, 214)
First data input shape: (30751, 60)
Second data input shape: (30751, 160)
Combined data shape: (30751, 220)

In [51]:
# Saving the data for model implementation
df3_reduced_df.to_csv(f'{config.CleanDataPath}df3_reduced_df.csv', index=True, index_label='SK_ID_CURR')
df3_reduced_df_new_features.to_csv(f'{config.CleanDataPath}df3_reduced_df_new_features.csv', index=True, index_label='SK_ID_CURR')